.content{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 80%;
    margin: auto;
    padding-top: 100px;
}
.flex{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 70px;
    font-family: 'Kumbh Sans', sans-serif;
}

.flex h3{
    color: hsl(26, 100%, 55%) ;
    font-family: 'Kumbh Sans', sans-serif;
    
}
.flex h1{
    font-weight: 700;
    /* padding-top: 30px; */
}

.shoe{
    border-radius: 10px;
    width: 450px;
}
.sample{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    
}
.sample1 img{
    border-radius: 2px solid black ;
}
.sample img{
    width: 88px;
    border-radius: 10px;
    margin-top: 10px;
}
.money{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.dollar{
    font-weight: 700;
    font-family: 'Kumbh Sans', sans-serif;
    padding-right: 20px;
}
.percent h3{
    
    background-color:  hsl(25, 100%, 94%);
    border-radius: 7px;
    height: 20px;
}
.prev{
    font-family: 'Kumbh Sans', sans-serif;
    color:hsl(220, 14%, 75%);
    font-weight: 400;
    font-size: 20px;
    padding-bottom: 20px;
    
}
.btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
}
.btn button{
    width:180px;
    height: 40px;
    border: none;
    border-radius: 7px;
}
.btnCart{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: hsl(26, 100%, 55%);
    cursor: pointer;

}

.btnCart h5{
    color: hsl(0, 0%, 100%);
}

.add{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    /* cursor: pointer; */

}

.add h3{
    font-size: 20px;
}
.zero{
    color: hsl(220, 13%, 13%);
    font-size: 20px;
}